.App {
  text-align: center;
}

*{
  padding : 0%;
  box-sizing: border-box;
  margin: 0%;

font-family: 'Nunito', sans-serif;
}

.nav-link{

  margin-top: -25px  !important;
}
.navbar{
  height: 55px !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
span{
  display: inline-block;
    /* background-color: antiquewhite; */
    padding: 10px;
    margin: 5px;
}
.list-wrapper{
  border: 1px solid #ccc;
    margin: auto;
    width: 500px;
    margin-top: 10px;
}
.search-row{
  max-width: 100px;
    background-color: aliceblue;
    padding: 3px;
    margin: auto;
    margin-top: 8px
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarr{
  margin-top: 25px !important;

  
}

a {
 
  cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #337ab7;
    text-decoration: none !important;
}

/* .navbar-brand {
    float: right !important;
    height: 50px;
    padding: 15px 50px 30px 0px !important;
    font-size: 20px !important;
    line-height: 20px;
     margin-top: 13px !important;
} */


.custom-select{

  flex-direction: column;
  display: flex;
  margin-top: 10px;
  align-items: center;
  width: 100%;
 
}



.Main-Section{
  border: none;
  margin: auto;
  width: 70%;
  height: 550px;
display: block;
border-radius: 10px;
box-shadow: 1px 2px 5px rgba(70, 69, 69, 0.89);

}
.Main-Section input{
  width: 50%;
  font-weight: 600;
  color: #282c34;
  padding: 8px;
  border-radius: 5px;
  border: none;
  display: block;
  margin: auto;
  margin-top: 15px;
text-align: center;
box-shadow: 1px 2px 5px rgba(70, 69, 69, 0.89);

}

.Main-Section input:focus{
 outline: none !important;
    border:0px solid rgb(0, 217, 255);
    box-shadow: 0 0 5px  ;
    box-shadow: 1px 2px 5px #4f95e0;
    
}




.box1{
  display: flex;
  flex-direction: row-reverse;
 
  
   
}
.box2{
  display: flex;
  
  margin-top: 100px;
  margin: auto;
   



}

textarea:focus{
   outline: none !important;
    border:1px solid rgb(0, 217, 255);
    box-shadow: 0 0 10px  #4f95e0;

}

textarea{
  
   width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: none;
   font-weight: 600;
  color: #282c34;
  display: block;
  margin: auto !important;
  margin-top: 15px !important;
  box-shadow: 1px 2px 5px rgba(70, 69, 69, 0.89);
height: 100px;

}

#selectOption1,#selectOption2 ,#selectOption3 ,#selectOption4 ,#selectOption5 input:focus{

   outline: none !important;
    border:1px solid rgb(0, 217, 255);
    box-shadow: 0 0 10px  #4f95e0;
}


#selectOption1,#selectOption2 ,#selectOption3 ,#selectOption4 ,#selectOption5 {
  width: 170px;
    margin: 5px;
    padding: 5px;
    border: none;
    box-shadow: 1px 2px 5px rgba(70, 69, 69, 0.89);
    border-radius: 5px;
}
#selectOption4,#selectOption5{
  margin-left: 10px;
  margin-top: 10px;
}
/* .year{
  margin-left: 40px;
} */

/* .bench
{

  margin-right: 30px;
} */
/* 
.register{
  margin-left: 30px;
} */

label{

  font-weight: 700 !important;
  padding: 5px;
}
button{
  padding: 8px;
  margin-top: 18px !important;
  width: 100px;
  font-weight: 700 !important;
border-radius: 5px;
cursor: pointer;
border: none;
box-shadow: 1px 2px 5px rgba(70, 69, 69, 0.89);
background-color: aquamarine;
}
button:hover{

  background-color: rgb(106, 248, 201);
}

.formate{
  
  font-size: 15px;
  color: #8217d4;
  
  font-weight: 600;
  float: right;
  position: absolute;
  float: right;
  display: flex;
  right: 21rem;
  margin-top: -30px;

}


